/* =========== header style =========== */
@font-face {
	font-family: 'Eoe_Zno_L';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_L.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

:root {
  /* Color */
  --white-color: #f7f7f7;
  --grey-color: #666;
  --black-color: #21201e;
  --main-color: #9c836a;
  --accent-color: #63c9cf;
}

/* *** top btn *** */
#top_btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1000;
  display: none;
}

#top_btn a.active {
  background: url(../image/top_btn.png) no-repeat;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: block;
  transition: all 0.3s;
}

#top_btn a.active:hover {
  background: url(../image/top_btn_on.png) no-repeat 0 0;
}


/* ****** 고정될 부분 ****** */
header.s-header{
  position: relative;
  width: 100%;
}

.header-content-fixed{
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  background: var(--black-color);
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  z-index: 999;
  transition: all 0.4s ease-in;
}

/* top: logo + login */
header .top{
  width: 1200px;
  margin: 10px auto;
}

header .logo{
  display: block;  
  text-align: center;
}

header .logo img{
  width: 95px;
  height: 50px;
}

header .submit{
  position: absolute;
  top: 40px;
  right: 200px;
  font-size: 17px;
  color: #999;
}

header .login:hover{color: var(--main-color);}
header .join:hover{color: var(--main-color);}

header .submit .login{
  margin-right: 15px;
  padding-right: 18px;
  border-right: 2px solid var(--grey-color);
  transition: all 0.3s;
}

header .submit .join{transition: all 0.3s;}

/* navbar */
nav{
  width: 100%;
  border-top: 1px solid var(--main-color);
  font-family: 'Eoe_Zno_L';
}

nav ul{
  width: 1200px;
  height: 50px;
  margin: 0 auto;
}

nav ul li{
  float: left;
  font-size: 16px;
  font-weight: bold;
  color: var(--white-color);
  text-align: center;
  padding: 0 37px;
  position: relative;
}

nav ul li:first-child{margin-left: 245px;}

nav ul li:hover a{color: var(--accent-color);}

nav ul li a{
  display: block;
  width: 100%;
  line-height: 50px;
}

nav ul li span{ /* 가로선 */
  display: block;
  width: 0px;
  height: 2px;
  background-image:linear-gradient(to right,transparent 0%,rgba(99, 201, 207,0.9) 50%,transparent 100%);
  position: absolute;
  top: 37px;
  left: 50%;
  transform:  translateX(-50%);
  transition: all 0.4s;
}

nav ul li:hover span{
  width: 60%;
  opacity: 1;
}

/* ****** 유동적인 부분 ****** */
.header-caption{
  width: 100%;
  margin-top: 120px;
  position: relative;
}


/* || hotels || */
/* jumbotron */
.header-caption .back1{
  width: 100%;
  height: 400px;
  background: url(../image/paradise.jpg) no-repeat bottom;
  background-size: cover;
}

.header-caption .text{
  width: 1200px; 
  margin:0 auto;
  color: var(--white-color);
  padding-top: 130px;
  text-shadow: 3px 4px 7px rgba(33, 32, 30,0.8);
}

.header-caption .text p:first-child{
  font-family: 'Eoe_Zno_L';
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

.header-caption .text p:last-child{
  font-size: 20px;
  margin-top: 15px;
  margin-left: 5px;
  text-align: center;
}

/* navigater */
.header-navi{
  font-family: 'Eoe_Zno_L';
  position: absolute;
  right: 200px;
  font-size: 20px;
  padding: 10px 0;
  width: 160px;
  height: 20px;
  text-align: center;
  border-bottom: 2px solid var(--main-color);
}

.header-navi a{font-weight: bold;}

.header-navi a:hover{color: var(--accent-color);}

/* ============ hotel: 1-1 + 1-2 ============*/
.header-caption .back1-1, .back1-2{
  background: url(../image/paradise.jpg) no-repeat center;
  width: 100%;
  height: 680px;
  background-size: cover;
}

.back1-2{background: url(../image/paradiso.jpg);}

.header-caption .title1-1, .title1-2{width: 1200px; margin: 0 auto;}

.title1-1>p, .title1-2>p{
  position: absolute;
  top: 220px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.title1-2>p{top: 210px;}

.title1-1 .main, .title1-2 .main{
  font-family: 'Eoe_Zno_L';
  font-size: 100px;
  letter-spacing: -5px;
  position: relative;
  z-index: 100;
  color: var(--white-color);
}

.title1-2 .main{
  font-size: 85px;
  line-height: 75px;
}

.title1-1 span, .title1-2 span{ /* 텍스트 배경 */
  display: block;
  position: absolute;
  z-index: 50;
  top: 220px;
  /* width: 425px; -> jQuery에서 조정*/ 
  width: 0;
  height: 96px;
  background: var(--accent-color);
}

.title1-2 span{
  top: 210px;
  /* width: 640px; -> jQuery */
  height: 155px;
  background: var(--main-color);
}

.title1-1 .sub, .title1-2 .sub{
  margin-top: 110px;
  font-size: 16px;
  line-height: 26px;
  color: var(--white-color);
}

.title1-2 .sub{margin-top: 160px;}

.title1-1 .sub>strong, .title1-2 .sub>strong{ /* 강조 텍스트 */
  font-size: 20px;
  color: var(--white-color);
}

.header-navi.navi1-1, .header-navi.navi1-2{
  width: 270px;
  top: 690px;
}

.header-navi.navi1-2{width: 320px;}


/* || dining || */
.header-caption .back2{
  width: 100%;
  height: 400px;
  background: url(../image/dining_all.jpg) no-repeat center;
  background-size: cover;
}


/* || art-tainment || */
.header-caption .back3{
  width: 100%;
  height: 400px;
  background: url(../image/art.jpg) no-repeat top;
  background-size: cover;
}


/* || wedding || */
.header-caption .back4{
  width: 100%;
  height: 400px;
  background: url(../image/wedding.jpg) no-repeat center;
  background-size: cover;
}


/* || activities || */