@import url(common.css);
@import url(header.css);
@import url(footer.css);

:root {
  /* Color */
  --white-color: #f7f7f7;
  --grey-color: #666;
  --black-color: #21201e;
  --main-color: #9c836a;
  --accent-color: #63c9cf;
}

body#main-body::-webkit-scrollbar{display:none;}
body#main-body{background: black;}

/* ============ header ============ */
#main-top{
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background: rgba(33, 32, 30, 0.9);
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  z-index: 200;
}

.menu-toggle-btn{  /*전체메뉴버튼*/  
	position:absolute;
	top:35px;
	left:90px;	
	display:block;
	width:45px;
  height:8px;
	background:none;
	outline:none;
  border:none;
  margin:0;
  cursor:pointer;
  z-index: 99999;
}

.menu-toggle-btn span{  /*전체메뉴가로선이 3개일때*/ 
	position:absolute;
  left:0;
  top:-2px;
  width:70%;
  height:4px;
  background: #999;
	content:'';
  margin-left:15%;
  border-radius: 10px;
  transition:all 0.3s;
}

.menu-toggle-btn:before,.menu-toggle-btn:after{  /*전체메뉴 가로선막대2개 생성*/
	position:absolute;
  left:0;
  width:70%;
  height:4px;
  background: #999;
	content:'';
  transition:all 0.3s;
  margin-left:15%;
  border-radius: 10px;
}

.menu-toggle-btn:before{transform:translateY(-12px);}
.menu-toggle-btn:after{transform:translateY(8px);}

/*jquery에서 불러낼 클래스 "menu-open" */
.menu-toggle-btn.menu-open:before{transform:translateY(0px) rotate(135deg);}
.menu-toggle-btn.menu-open:after{transform:translateY(0px) rotate(-135deg);}
.menu-toggle-btn.menu-open span{opacity:0;}  /*가로선3개중 가운데선*/

a.main-logo{ /* 로고 */
  position: absolute;
  top: 20px;
  left: 43%;
}

a.main-login{ /* 로그인 아이콘 */
  color: #999;
  font-size: 35px;
  position: absolute;
  top: 20px;
  right: 90px;
}

#main-menu{ /* 메인 메뉴 */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background:rgba(33, 32, 30, 0.9);
  color: var(--main-color);
  display: none;
  z-index: 100;
}

#main-menu>ul{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 260px;
  font-family: 'Eoe_Zno_L';
  font-weight: bold;
}

.main-gnb>li{margin-bottom: 30px;}
.main-gnb>li>a{ /* 대표 메뉴 */
  font-size: 40px;
  transition: all 0.3s;
}
.main-gnb>li>a:hover{color: var(--white-color);}

.main-gnb>li ul.sub-menu li{ /* 서브 메뉴 */
  font-size: 20px;
  margin: 10px;
  color: #999;
  transition: all 0.3s;
}
.main-gnb>li ul.sub-menu li:hover{text-decoration: underline;}


/* ============ section ============ */
section dl{
  width: 1800px;
  height: 1000px;
  margin: 0 auto;
  overflow: hidden;
  background: url(../image/main-bg1.jpeg) no-repeat center;
  background-size: cover;
}

section dl dt{ /* 탭 부분 */
  float: left;
  min-height: 100%;
  min-width: 250px;
  width: 250px;
  cursor: pointer;
  border-right: 1px solid var(--grey-color);
  box-sizing: border-box;
  color: #fcfcfc;
  font-family: 'YUniverse-B';
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background: rgba(33, 32, 30, 0.5);
  transition: all 0.4s;
}
dl dt:last-of-type{border-right: none;}
dl dt:hover{background: var(--black-color);}

dl dt.active{background: rgba(156, 131, 106, 0.7);}
dl dt.active:hover{background: var(--main-color);}

/* 썸네일 이미지 설정 */
dl dt .iconify{ /* 아이콘 */
  margin-top: 350px;
  margin-left: 30px;
}
dl dt p{margin-left: 30px;} /* 텍스트 */

section dd{ /* 탭 컨텐츠 */
  width: 550px;
  height: 1000px;
  float: left;
  display: none;
}
section dd:first-of-type{display: block;}

.main-content{ /* 컨텐츠 */
  width: 800px;
  margin: 400px auto;
  color: var(--white-color);
  text-align: center;
  text-shadow: 2px 1.5px 3px rgba(0,0,0,0.9);
  text-transform: uppercase;
  margin-left: -120px;
}

.main-content .main-sub{ /* 서브 타이틀 */
  font-family: 'Eoe_Zno_L';
  font-size: 19px;
  line-height: 25px;
  text-shadow: 1px 1px 3px black;
}

dd:nth-of-type(2) .main-content{margin-top: 300px;}
dd:nth-of-type(3) .main-content{margin-top: 550px;}
dd:nth-of-type(4) .main-content{margin-top: 550px;}
dd:nth-of-type(5) .main-content{margin-top: 450px;}


.main-content button{ /* 버튼 */
  margin-top: 20px;
  width: 200px;
  height: 50px;
  font-size: 19px;
  border: 1px solid var(--grey-color);
  background: var(--black-color);
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.4s;
}

.main-content button:hover{
  background: var(--accent-color);
  color: var(--black-color);
  border: none;
}


/* ============ footer ============ */
footer#banner{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 170px;
  background: #fcfcfc;
  border-top: 1px solid var(--main-color);
}

.bannerUp{ /* 배너 up/down 버튼 */
  position: absolute;
  top: -25px;
  right: 200px;
  font-size: 30px;
  color: var(--main-color);
  background: #fcfcfc;
  width: 55px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.banner-contents{
  width: 1200px;
  margin: 40px auto;
}

footer#banner > div > div{ /* 전체 box 위치 조정 */
  float: left;
  width: 220px;
  height: 100px;
  padding: 0 55px;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--main-color);
}

footer#banner > div > div:nth-of-type(2){
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

footer#banner > div > div:last-of-type{ /* search 너비 */
  padding: 0px;
  width: 140px;
}

.banner-contents .value{ /* select title 조정 */
  font-size: 30px;
  color: var(--black-color);
  margin-top: 10px;
  cursor: pointer;
}

/* hotel */
#s-hotel{position: relative;}
#s-hotel .iconify{ /* 아이콘 */
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 25px;
  cursor: pointer;
}

#s-hotel .h-box{ /* select box */
  width: 190px;
  height: 146px;
  background: var(--main-color);
  color: var(--white-color);
  position: absolute;
  bottom: 80px;
  display: none; /* jQuery */
}

#s-hotel .h-box li{
  font-size: 18px;
  padding: 14px 20px;
  text-align: center;
  cursor: pointer;
}
#s-hotel .h-box li:nth-of-type(2){
  border-top: 1px solid rgba(33, 32, 30, 0.5);
  border-bottom: 1px solid rgba(33, 32, 30, 0.5);
}
#s-hotel .h-box li:hover{background: var(--grey-color);}

/* check in */
#s-checkIn input[type=text]{
  margin-top: 10px;
  width: 220px;
  height: 30px;
  font-size: 17px;
}

/* number */
#s-num{position: relative;}
#s-num .n-view ul{
  float: left;
  margin-right: 40px;
}

.n-view .adult .value{margin-left: 18px; cursor: pointer;}
.n-view .child .value{margin-left: 28px; cursor: pointer;}

.n-box{ /* select box */
  width: 220px;
  height: 180px;
  background: var(--main-color);
  color: var(--white-color);
  position: absolute;
  bottom: 110px;
  display: none;
}

.n-box .iconify.x-icon{ /* x icon */
  font-size: 25px;
  position: absolute;
  right: 5px;
  top: 5px;
  color: var(--black-color);
  cursor: pointer;
}

.n-box ul{
  text-align: center;
  margin-top: 22px;
}
.n-box>ul>.subject{margin-bottom: 8px;}
.n-box ul .value{
  margin: 15px;
  color: var(--white-color);
}

.n-box .iconify:not(.x-icon){
  font-size: 22px;
  color: #ccc;
  cursor: pointer;
}

/* search btn */
#s-search button{
  width: 200px;
  height: 60px;
  border: 3px solid var(--main-color);
  color: var(--main-color);
  background: none;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

#s-search button:hover{
  background: var(--main-color);
  color: var(--white-color);
}