@import url(common.css);
@import url(header.css);
@import url(footer.css);

:root {
  /* Color */
  --white-color: #f7f7f7;
  --grey-color: #666;
  --black-color: #21201e;
  --main-color: #9c836a;
  --accent-color: #63c9cf;
}

body{
  background: var(--white-color);
  width: 100%;
}

/* =========== hotels =========== */
/* ******** hotels > 종합안내 ******** */
section ul{width: 1200px; margin: 100px auto;}

section ul li.hotel{
  margin-bottom: 30px;
  position: relative;
}

section ul li.hotel1 img{ /* paradise 1-1: 이미지 */
  float: left;
  width: 800px;
  height: 400px;
  position: relative;
  z-index: 100;
}

section ul li.hotel2 img{ /* art paradiso 1-2: 이미지 */
  float: right;
  width: 800px;
  height: 400px;
  position: relative;
  z-index: 100;
}

section ul li.hotel .text{float: left;}

section li.hotel .title{
  font-size: 45px;
  font-weight: bold;
  margin-left: 10px;
}

section li.hotel .sub{
  font-size: 19px;
  margin: 20px 0 50px 10px;
}

section li.hotel .link{ /* 바로가기 */
  display: inline-block;
  margin-left: 10px;
  padding: 15px 50px;
  border: 2px solid var(--main-color);
  font-size: 20px;
  color: var(--main-color);
  transition: all 0.4s ease-in;
}

section li.hotel .link:hover{background: var(--main-color);}
section li.hotel .link:hover a{color: var(--white-color);}

section li.hotel1 .text{
  position: absolute;
  top: 0;
  right: 400px;
  z-index: 10;
}
section li.hotel2 .text{ /* hotel2 세부설정 */
  text-align: right;
  position: absolute;
  top: 0;
  left: 400px;
  z-index: 10;
}


/* ******** hotels > paradise(1-1) ******** */
/* tab button */
#tab .tab-button{
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

#tab .tab-button li{
  margin: 0 30px;
  padding: 8px 35px;
  border-bottom: 2px solid var(--main-color);
  border-top: 2px solid var(--main-color);
  color: var(--grey-color);
  cursor: pointer;
}

#tab .tab-button li.selected{ /* 탭 버튼 : Class -> jQuery */
  border-top: 4px solid var(--main-color);
  border-bottom: 4px solid var(--main-color);
  color: var(--black-color);
  background: rgba(156, 131, 106, 0.219);
}

/* tab contents : title */
.tab-contents>li:not(.show){display: none;} /* 탭 콘텐츠 -> jQuery */

.tab-contents>li>ul>li .text{
  color: var(--main-color);
  text-align: center;
  margin-top: 100px;
}

.tab-contents>li>ul>li .title{ /* 타이틀 */
  font-size: 60px;
  margin-bottom: 10px;
}

.tab-contents>li>.room-b>li .title{color: var(--black-color);}

.tab-contents>li>ul>li .sub{ /* 서브 타이틀 */
  font-size: 18px;
  color: #999;
  line-height: 24px;
}

/* tab - gallery */
.gallery{
	width: 1000px;
	height: 700px;
	position: relative;
}

.largeImg li{
	display: none;
	position: absolute;
	top: -70px;
  left: 50px;
  overflow: hidden;
}

.largeImg li img{transition: all 0.5s;}

.largeImg li:hover img{transform: scale(1.05);}

.largeImg li:first-child{display: block;}

.thumbs{
	position: absolute;
	top: 340px;
	left: 50px;
}

.thumbs li{
	float: left;
	margin-right: 10px;
  margin-top: 50px;
	opacity: 0.3;
}

.thumbs li:first-child {opacity: 1;}

.thumbs li a img {
	width: 160px;
	height: 110px;
}

/* prev/next btn */
.gallery>a{position: absolute; display:none;}

.gallery>a.prev_btn{ /* 이전버튼 */
  top: 450px;
  left: 50px;
}

.gallery>a.next_btn{ /* 다음버튼 */
  top: 450px;
  right: -170px;
}


/* ******** hotels > art paradiso(1-2) ******** */




/* =========== dining =========== */
/* ******** dining > 종합안내 ******** */
section ul{position: relative;}

section ul li.dining{
  margin-bottom: 30px;
  position: relative;
}

section ul li.dining1 img{ /* dining 1-1: 이미지 */
  float: left;
  width: 800px;
  height: 400px;
  position: relative;
  z-index: 100;
}

section ul li.dining2 img{ /* dining 1-2: 이미지 */
  float: right;
  width: 800px;
  height: 400px;
  position: relative;
  z-index: 100;
}

section ul li.dining .text{float: left;}

section li.dining .title{
  font-size: 45px;
  font-weight: bold;
  margin-left: 10px;
}

section li.dining .sub{
  font-size: 19px;
  margin: 20px 0 50px 10px;
}

section li.dining .link{ /* 바로가기 */
  display: inline-block;
  margin-left: 10px;
  padding: 15px 50px;
  border: 2px solid var(--main-color);
  font-size: 18px;
  color: var(--main-color);
  transition: all 0.4s ease-in;
}

section li.dining .link:hover{background: var(--main-color);}
section li.dining .link:hover a{color: var(--white-color);}

section li.dining1 .text{
  position: absolute;
  top: 0;
  right: 400px;
  z-index: 10;
}
section li.dining2 .text{ /* hotel2 세부설정 */
  text-align: right;
  position: absolute;
  top: 0;
  left: 400px;
  z-index: 10;
}

/* ******** dining > fine(2-1) ******** */
/* ******** dining > casual(2-2) ******** */