/* ********* hotel, dining, login ********* */

@import url(common.css);
@import url(header.css);
@import url(footer.css);

:root {
  /* Color */
  --white-color: #f7f7f7;
  --grey-color: #666;
  --black-color: #21201e;
  --main-color: #9c836a;
  --accent-color: #63c9cf;
}

body{
  background: var(--white-color);
  width: 100%;
}

/* =========== hotels =========== */
/* ******** hotels > 종합안내 ******** */
section ul{width: 1200px; margin: 100px auto;}

section ul li.hotel{
  margin-bottom: 30px;
  position: relative;
}

section ul li.hotel1 img{ /* paradise 1-1: 이미지 */
  float: left;
  width: 800px;
  height: 400px;
  position: relative;
  z-index: 100;
}

section ul li.hotel2 img{ /* art paradiso 1-2: 이미지 */
  float: right;
  width: 800px;
  height: 400px;
  position: relative;
  z-index: 100;
}

section ul li.hotel .text{float: left;}

section li.hotel .title{
  font-size: 45px;
  font-weight: bold;
  margin-left: 10px;
}

section li.hotel .sub{
  font-size: 19px;
  margin: 20px 0 50px 10px;
}

section li.hotel .link{ /* 바로가기 */
  display: inline-block;
  margin-left: 10px;
  padding: 15px 50px;
  border: 2px solid var(--main-color);
  font-size: 20px;
  color: var(--main-color);
  transition: all 0.4s ease-in;
}

section li.hotel .link:hover{background: var(--main-color);}
section li.hotel .link:hover a{color: var(--white-color);}

section li.hotel1 .text{
  position: absolute;
  top: 0;
  right: 400px;
  z-index: 10;
}
section li.hotel2 .text{ /* hotel2 세부설정 */
  text-align: right;
  position: absolute;
  top: 0;
  left: 400px;
  z-index: 10;
}


/* ******** hotels > paradise(1-1) ******** */
/* tab button */
#tab .tab-button{
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

#tab .tab-button li{
  margin: 0 30px;
  padding: 8px 35px;
  border-bottom: 2px solid var(--main-color);
  border-top: 2px solid var(--main-color);
  color: var(--grey-color);
  cursor: pointer;
}

#tab .tab-button li.selected{ /* 탭 버튼 : Class -> jQuery */
  border-top: 4px solid var(--main-color);
  border-bottom: 4px solid var(--main-color);
  color: var(--black-color);
  background: rgba(156, 131, 106, 0.219);
}

/* tab contents : title */
.tab-contents>li:not(.show){display: none;} /* 탭 콘텐츠 -> jQuery */

.tab-contents>li>ul>li .text{
  color: var(--main-color);
  text-align: center;
  margin-top: 100px;
}

.tab-contents>li>ul>li .title{ /* 타이틀 */
  font-size: 60px;
  margin-bottom: 10px;
}

.tab-contents>li>.room-b>li .title{color: var(--black-color);}

.tab-contents>li>ul>li .sub{ /* 서브 타이틀 */
  font-size: 18px;
  color: #999;
  line-height: 24px;
}

/* tab - gallery */
.gallery{
	width: 1000px;
	height: 700px;
	position: relative;
}

.largeImg li{
	display: none;
	position: absolute;
	top: -70px;
  left: 50px;
  overflow: hidden;
}

.largeImg li img{transition: all 0.5s;}

.largeImg li:hover img{transform: scale(1.05);}

.largeImg li:first-child{display: block;}

.thumbs{
	position: absolute;
	top: 340px;
	left: 50px;
}

.thumbs li{
	float: left;
	margin-right: 10px;
  margin-top: 50px;
	opacity: 0.3;
}

.thumbs li:first-child {opacity: 1;}

.thumbs li a img {
	width: 160px;
	height: 110px;
}

/* prev/next btn */
.gallery>a{position: absolute; display:none;}

.gallery>a.prev_btn{ /* 이전버튼 */
  top: 450px;
  left: 50px;
}

.gallery>a.next_btn{ /* 다음버튼 */
  top: 450px;
  right: -170px;
}


/* =========== dining =========== */
/* ******** dining > 종합안내 ******** */
section ul{position: relative;}

section ul li.dining{
  margin-bottom: 30px;
  position: relative;
}

section ul li.dining1 img{ /* dining 1-1: 이미지 */
  float: left;
  width: 800px;
  height: 400px;
  position: relative;
  z-index: 100;
}

section ul li.dining2 img{ /* dining 1-2: 이미지 */
  float: right;
  width: 800px;
  height: 400px;
  position: relative;
  z-index: 100;
}

section ul li.dining .text{float: left;}

section li.dining .title{
  font-size: 45px;
  font-weight: bold;
  margin-left: 10px;
}

section li.dining .sub{
  font-size: 19px;
  margin: 20px 0 50px 10px;
}

section li.dining .link{ /* 바로가기 */
  display: inline-block;
  margin-left: 10px;
  padding: 15px 50px;
  border: 2px solid var(--main-color);
  font-size: 18px;
  color: var(--main-color);
  transition: all 0.4s ease-in;
}

section li.dining .link:hover{background: var(--main-color);}
section li.dining .link:hover a{color: var(--white-color);}

section li.dining1 .text{
  position: absolute;
  top: 0;
  right: 400px;
  z-index: 10;
}
section li.dining2 .text{ /* hotel2 세부설정 */
  text-align: right;
  position: absolute;
  top: 0;
  left: 400px;
  z-index: 10;
}

/* ******** dining > fine(2-1) ******** */
.showUp{ /* -> jQuery */
  margin-top: -70px;
  opacity: 1;
}

section #dining1{
  position:relative;
  width: 1200px;
  height: 2750px; /* 컨텐츠 길이 */
}

#dining1 li{
  margin-left: 80px;
  position: absolute;
  opacity: 0;
  transition: all 1s;
}

#dining1 li img{cursor: pointer;}

#dining1 li:hover{transform: scale(1.05);}

#dining1 li .text .title{ /* 타이틀 */
  font-size: 22px;
  font-weight: bold;
  color: var(--main-color);
  margin-top: 10px;
}

#dining1 li .text .sub{ /* 서브 */
  font-size: 15px;
  margin-top: 2px;
  line-height: 20px;
  color: #999;
}

#dining1 .fine1{top: 120px;} /* fine img 위치 조정 */
#dining1 .fine2{top: 220px; right: 80px;}
#dining1 .fine3{top: 700px;}
#dining1 .fine4{top: 800px; right: 80px;}
#dining1 .fine5{top: 1600px;}
#dining1 .fine6{top: 1500px; right: 80px;}
#dining1 .fine7{top: 2200px;}
#dining1 .fine8{top: 2050px; right: 80px;}



/* ******** dining > casual(2-2) ******** */
section #dining2{margin-top: 270px;}

#dining2 li{
  float: left;
  margin-left: 15px;
  margin-bottom: 50px;
  width: 360px;
  height: 370px;
  overflow: hidden;
  opacity: 0; /* -> jQuery */
  transition: all 1s;
}

#dining2 li img{
  width: 352px;
  height: 232px;
  overflow: hidden;
  transition: all 0.4s;
}

#dining2 li:hover img{transform: scale(1.08);}

#dining2 .text{text-align: center;}

#dining2 .text .title{ /* 타이틀 */
  font-size: 22px;
  font-weight: bold;
  color: var(--grey-color);
  margin-top: 10px;
}

#dining2 li .text .sub{ /* 서브 */
  font-size: 15px;
  margin-top: 2px;
  line-height: 20px;
  color: #999;
}

/* =========== login =========== */
form{
  width: 1200px;
  margin: 0 auto;
}
.title6{
  width: 1200px;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 40px;
}

.title6 h1{
  font-family: 'YUniverse-B';
  font-size: 80px;
  letter-spacing: -5px;
  color: var(--main-color);
}

.title6 p.sub6{
  font-size: 17px;
  margin-top: 10px;
  line-height: 25px;
  color: var(--grey-color);
}

fieldset{ /* 전체 box */
  display: inline-block;
  border: 0;
  width: 1200px;
  height: 500px;
  margin-bottom: 100px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/* 로그인 폼 */
.login-box1{ /* box1 */
  width: 600px;
  height: 450px;
  float: left;
  margin: 25px;
}

#tab6{margin: 25px;}

#tab-button6{
  margin-top: 65px;
}

#tab-button6 li{ /* 탭 버튼 */
  float: left;
  font-size: 18px;
  padding: 18px 80px;
  cursor: pointer;
  color: var(--grey-color);
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid var(--grey-color);
  background: #f3f3f3;
}

#tab-button6 .btn1{padding: 18px 110px;}

#tab-button6 li.selected{ /* -> jQuery */
  border-top: 2px solid var(--main-color);
  border-left: 1px solid var(--grey-color);
  border-right: 1px solid var(--grey-color);
  border-bottom: none;
  background: #fff;
}

/* tab contents : 회원 */
#tab-contents6 li:not(.show){display: none;}

#tab-contents6 input:not([type=checkbox],[type=tel]){
  width: 542px;
  height: 50px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 3px;
}

#tab-contents6 input[type=email]{
  margin-top: -50px;
  text-indent: 20px;
}
#tab-contents6 input[type=password]{text-indent: 20px;}
#tab-contents6 input:focus {outline: 1px solid #ccc;} /* input 테두리 */
::-webkit-input-placeholder{color: #999;} /* placeholder 글자색 변경 */

#tab-contents6 input[type=submit]{
  background: rgba(156, 131, 106, 0.7);
  color: var(--white-color);
  width: 545px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s;
}
#tab-contents6 input[type=submit]:hover{background: var(--main-color);}

.check-find{width: 542px}
.checkbox{float: left;}

.checkbox input[type=checkbox]{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.id-find{
  float: right;
  text-decoration: underline;
}

/* tab contents : 비회원 */
.user-num{margin-top: -60px;}

#tab-contents6 input#num, input#name{text-indent: 20px;}

select.tel1, input#tel2, input#tel3{
  width: 170px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

select.tel1{
  font-size: 16px;
  color: #999;
  text-indent: 20px;
}

input#tel2, input#tel3{height: 47px;}

/* 회원가입 유도 부분 */
.login-box2{ /* box2 */
  width: 500px;
  height: 450px;
  float: left;
  margin: 25px;
  position: relative;
}

.login-box2 img{ /* 이미지 */
  margin-top: 60px;
  width: 470px;
  height: 340px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  transition: all 0.3s;
}

.login-box2:hover img{
  transform: scale(1.05);
}

.login-box2 .join-message{
  font-family: 'Eoe_Zno_L';
  position: absolute;
  top: 80px;
  right: 70px;
  text-align: right;
}

.login-box2 .join1{ /* 큰 텍스트 */
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
}

.login-box2 .join2{
  margin-top: 10px;
  margin-bottom: 15px;
  color: var(--grey-color);
  line-height: 15px;
  letter-spacing: -1px;
}

.login-box2 input.join-btn{
  width: 150px;
  height: 40px;
  background: var(--black-color);
  color: var(--white-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}

.login-box2 input.join-btn:hover{background: var(--main-color);}