/* ********* art, wedding, activities ********* */

@import url(common.css);
@import url(header.css);
@import url(footer.css);

:root {
  /* Color */
  --white-color: #f7f7f7;
  --grey-color: #666;
  --black-color: #21201e;
  --main-color: #9c836a;
  --accent-color: #63c9cf;
}

body{
  background: var(--white-color);
  width: 100%;
}

/* =========== art-tainment =========== */
section#art{width: 1200px; margin: 60px auto;}

#art .intro{
  font-size: 50px;
  text-align: center;
  color: var(--grey-color);
}

#art .info1{
  font-size: 16px;
  color: #999;
  text-align: center;
  margin-top: 10px;
}

#art .line{ /* 선 */
  color: var(--main-color);
  position: absolute;
  top: 780px;
  left: 925px;
}

/* card */
.container3{height: 3200px;}

.container3 li{
  position: sticky;
  top: 130px;
  transition: all 0.3s;
}

.container3 .block{ /* 텍스트 박스 */
  position: absolute;
  background: rgba(99, 202, 207, 0.9);
  width: 1100px;
  height: 0;
  left: 50px;
  bottom: 0;
  border-radius: 10px;
  transition: all 0.3s;
}

.container3 li:hover .block{height: 180px;}

.container3 .sub{ /* 서브 설명 */
  font-size: 18px;
  color: var(--white-color);
  margin-top: 26px;
  margin-left: 20px;
  line-height: 24px;
  opacity: 0;
  text-shadow: 2px 1.5px 0px rgba(0,0,0,0.1);
  transition: all 0.3s;
}

.container3 .sub4{
  font-size: 17px;
  line-height: 24px;
  margin-top: 26px;
}

.container3 .sub5{margin-top: 36px; font-size: 17px;}

.container3 li:hover .sub{opacity:1;}

.container3 li .iconify{ /* 하트 아이콘 */
  position: absolute;
  font-size: 40px;
  color: var(--white-color);
  right: 20px;
  top: 40px;
  cursor: pointer;
}

.container3 li p.title{ /* 타이틀 */
  position: absolute;
  top: 60px;
  left: 80px;
  font-size: 90px;
  font-family: 'YUniverse-B';
  font-weight: bold;
  letter-spacing: -7px;
  line-height: 80px;
  color: var(--white-color);
  text-shadow: 6px 6px 0px rgba(0,0,0,0.4);
}

.container3 li img{ /* 이미지 */
  width: 1100px;
  height: 610px;
  margin-left: 50px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* =========== wedding =========== */
section#wedding{width: 100%; height: 3800px;}

section ul#wedding4{width: 100%; height: 2800px;}

ul#wedding4 li{
  width: 1200px;
  height: 2600px;
  margin: 0 auto;
}

ul#wedding4 li .image{ 
  width: 650px;
  float: left;
  position: sticky;
  top: 200px;
}

ul#wedding4 li img{/* 이미지 */
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

ul#wedding4 li .text{ /* 텍스트 */
  font-family: 'Eoe_Zno_L';
  width: 500px;
  float: right;
  margin-top: 100px;
  font-size: 38px;
  line-height: 55px;
}

ul#wedding4 li .text1{margin: 0;}

ul#wedding4 li .text strong{
  font-size: 50px;
  line-height: 60px;
  color: var(--main-color);
}

ul#wedding4 li .text p{ /* 서브 텍스트 */
  margin-top: 20px;
  letter-spacing: -2px;
}

/* tab */
p.title4{ /* 타이틀 */
  width: 1200px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: var(--main-color);
}

#tab4{ /* 전체 박스 */
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  background: #ededed;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#tab-btn-box{ /* 버튼 박스 */
  width: 199px;
  height: 600px;
  float: left;
  border-right: 1px solid #bfbfbf;
  position: relative;
}

/* tab - button */
ul#tab-button4 li{ /* 버튼 */
  font-size: 22px;
  width: 140px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 30px;
  border-bottom: 1px solid #bfbfbf;
  position: relative;
  z-index: 100;
}

ul#tab-button4 li a.active{color: var(--white-color);}

ul#tab-button4 li:first-child{border-top: 1px solid #bfbfbf;}

#tab-btn-box .tab-highlight{ /* 탭 버튼 -> jQuery */
  background: url(../image/tab_back.png) no-repeat;
  width: 140px;
  height: 100px; /* ✔ */
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 30px;
}

/* tab - contents */
#tab-contents4{ /* 컨텐츠 박스 */
  width: 1000px;
  height: 600px;
  float: left;
  margin: 0;
}

#tab-contents4>li:not(.show){display: none;} /* 탭 콘텐츠 -> jQuery */

#tab-contents4 li{
  width: 950px;
  height: 550px;
  margin: 25px;
  background-size: cover;
}

#tab-contents4 .contents1{background: url(../image/wed1.png) no-repeat center center;}
#tab-contents4 .contents2{background: url(../image/wed2.png) no-repeat center center;}
#tab-contents4 .contents3{background: url(../image/wed3.png) no-repeat center center;}
#tab-contents4 .contents4{background: url(../image/wed4.png) no-repeat center center;}

#tab-contents4 li .text{ /* 텍스트 */
  position: absolute;
  bottom: 80px;
  right: 50px;
  text-align: right;
  color: var(--white-color);
  font-size: 18px;
  line-height: 23px;
  text-shadow: 2px 1.5px 3px rgba(0,0,0,0.5);
  z-index: 100;
}

#tab-contents4 .contents2 .sub{margin-bottom: 10px;}
#tab-contents4 .contents3 .sub{margin-bottom: 10px;}

#tab-contents4 span.text-box{ /* 텍스트 박스 */
  position: absolute;
  width: 450px;
  height: 130px;
  bottom: -10px;
  right: -10px;
  border: 1px solid var(--white-color);
  background: rgba(47, 47, 47, 0.4);
  z-index: -1;
}

#tab-contents4 li .text .main{ /* 메인 텍스트 */
  font-family: 'YUniverse-B';
  font-size: 40px;
  margin-bottom: 15px;
}

/* =========== activities =========== */
/* visual : slide */
#visual5{
  width: 1200px; 
  margin: 200px auto; 
  margin-bottom: 0;
  position: relative;
}

#visual5 .text5{text-align: center;}

.text5 .title{
  font-size: 50px;
  color: var(--main-color);
}

#visual5 .line2{ /* 선 */
  color: #ccc;
  position: absolute;
  top: 70px;
  right: 570px;
}

.text5 .subject{
  font-family: 'Eoe_Zno_L';
  margin-top: 100px;
  font-size: 26px;
  font-weight: bold;
}

.text5 .sub{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  color: var(--grey-color);
}

/* slide */
#slideUp5{
  position: relative;
  width: 1120px;
  height: 545px;
  overflow: hidden;
  margin: 0 auto;
}

#slideUp5 .simage5 ul{position: absolute;}

/* 하단 버튼 */
.bottom-btn5{
	position: absolute;
	bottom: 340px;
	right: 15px;
}

.bottom-btn5 ul li{ /* 버튼 설정 */
	background: #999;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 7px 0;
	cursor: pointer;
}

.bottom-btn5 ul li.activeUp{ /* 버튼 선택 */
	background: var(--main-color);
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

/* up/down 버튼 */
.side-btn5 .up-btn { /* up */
	position: absolute;
	top: 260px;
	right: 14px;
	width: 17px;
	height: 32px;
	background: url(../image/up_btn.png) no-repeat;
}

.side-btn5 .down-btn { /* down */
	position: absolute;
	bottom: 150px;
	right: 14px;
	width: 17px;
	height: 32px;
	background: url(../image/down_btn.png) no-repeat;
}

.line5{ /* 구분선 */
  margin: 50px 0;
  padding-top: 80px;
  border-bottom: 1px solid #ccc;
}

/* activities: section */
section ul#act5 li{
  width: 350px;
  height: 530px;
  margin: 30px 25px;
  float: left;
  overflow: hidden;
  border-radius: 5px; 
}

ul#act5 img{
  border-radius: 5px; 
  transition: all 0.3s;
}

ul#act5 img:hover{transform: scale(1.05);}

ul#act5 .text1{font-size: 15px;}

ul#act5 .text1 .title{
  font-family: 'Eoe_Zno_L';
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
  color: var(--main-color);
}

ul#act5 .text1 .title span{ /* 숫자 원 */
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  vertical-align: middle;
  margin-right: 10px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  line-height: 18px;
  font-size: 14px;
  color: var(--main-color);
  text-align: center;
}

ul#act5 .text1 .sub{
  font-family: 'Eoe_Zno_L';
  color: #999;
  text-indent: 10px;
  line-height: 21px;
  letter-spacing: -1px;
}

ul#act5 .text2{margin-top: 20px;}

ul#act5 .text2 .info span:first-of-type,
ul#act5 .text2 .mission span:first-of-type{
  display: inline-block;
  width: 64px;
  height: 25px;
  font-family: 'Eoe_Zno_L';
  font-size: 16px;
  font-weight: bold;
}

ul#act5 .text2 .mission span:last-of-type{
  display: inline-block;
  width: 280px;
}
